/*reset setup*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 body{
    background-color: #C1CDCD;
 }

/*logo+banner*/
.container{
    background-color: white;
}

.logo{
    height: 50px;
    vertical-align: middle;
    margin-left: 20px;
    margin-bottom: 10px;
}

.logo-text{
    font-size: 35px;
    margin-top: 10px;
    display: inline-block;
}

/*main content*/

.button-todolist{
    
}

.todolist-button{
    background-color: white;
    width: 800px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 4px solid black;
    padding: 12px 0 0 40px;
}

hr{
    margin: 5px 0 5px 0;
}

.task-button{
    color: white;
    background-color: blue;
    padding: 4px;
}

.section-button{
    color: grey;
    padding: 4px;
}